In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#Question 1: Version of NumPy
np.__version__

'1.21.5'

In [3]:
#read data
url="https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
df=pd.read_csv(url)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
#Question 2: Number of records in the dataset
print(df.shape)

(11914, 16)

In [5]:
#Question 3: The most popular car manufacturers
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [6]:
#Question 4: Number of unique Audi car models
df[df['Make']=='Audi']['Model'].nunique()

34

In [7]:
#Question 5: Number of columns with missing values
len(df.columns[df.isnull().any()])

5

In [8]:
#Question 6: Does the median value change after filling missing values?
df.median()

C:\Users\Tiger\AppData\Local\Temp/ipykernel_1700/837264832.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Year                 2015.0
Engine HP             227.0
Engine Cylinders        6.0
Number of Doors         4.0
highway MPG            26.0
city mpg               18.0
Popularity           1385.0
MSRP                29995.0
dtype: float64

In [9]:
#fill missing values with median
df = df.fillna(df.median())

# or

#fill missing values with zero
#df.fillna(0).isnull().sum()

C:\Users\Tiger\AppData\Local\Temp/ipykernel_1700/3469230799.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.median())

In [10]:
df.median()

C:\Users\Tiger\AppData\Local\Temp/ipykernel_1700/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Year                 2015.0
Engine HP             227.0
Engine Cylinders        6.0
Number of Doors         4.0
highway MPG            26.0
city mpg               18.0
Popularity           1385.0
MSRP                29995.0
dtype: float64

In [11]:
## Question 7: 
# Select all the "Lotus" cars from the dataset.
# Select only columns "Engine HP", "Engine Cylinders".
df_Lotus = df[df['Make']=='Lotus'][['Engine HP', 'Engine Cylinders']]
print(df_Lotus.shape)

# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
df_Lotus = df_Lotus.drop_duplicates()
print(df_Lotus.shape)

# Get the underlying NumPy array. Let's call it X.
X = df_Lotus.values

# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T.dot(X)

# Invert XTX.
XTX_inv = np.linalg.inv(XTX)

# What's the sum of all the elements of the result?
XTX_inv.sum()

(29, 2)
(9, 2)

0.15475735843457794

In [12]:
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y.shape

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = (XTX_inv.dot(X.T)).dot(y)

# What's the value of the first element of w?.
w[0]

4.594944810094579